main{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  border: solid 2px black;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  height: auto;
}

.add-todo-heading{
  margin-top:0;
}

#to-do-form{
  border: solid 2px black;
  padding: 10px;
  border-radius: 20px;
  background: border-box linear-gradient(260deg, var(--primary-light) 60%, var(--primary) 60%);
}

.first-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.second-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.COMPLETED{
  border: solid 2px black;
  padding: 20px;
  border-radius: 20px;
  background: border-box linear-gradient(260deg, var(--primary-light) 60%, var(--primary) 60%);
}

.TODO{
  border: solid 2px black;
  padding: 20px;
  border-radius: 20px;
  background: border-box linear-gradient(260deg, var(--primary-light) 60%, var(--primary) 60%);

}

#add-button{
  display: flex;
  justify-content: center;
}