main{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  border: solid 2px black;
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  height: auto;
}

#to-do-form{
  border: solid 2px black;
  padding: 10px;
  border-radius: 20px;
}

.first-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.second-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.COMPLETED{
  border: solid 2px black;
  padding: 20px;
  border-radius: 20px;
}

.TODO{
  border: solid 2px black;
  padding: 20px;
  border-radius: 20px;
}