main{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  border: solid 2px var(--border);
  border-radius: 20px;
  padding: 20px;
  margin: 30px;
  height: auto;
  background: var(--primary-light);
}

.add-todo-heading{
  margin-top:0;
  color: var(--surface);
  text-decoration: underline;
}

#to-do-form{
  border: solid 2px var(--border);
  padding: 10px;
  border-radius: 20px;
  background: border-box linear-gradient(260deg, var(--primary) 60%, var(--primary-light) 60%);
}

.first-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.second-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.COMPLETED{
  border: solid 2px var(--border);
  padding: 20px;
  border-radius: 20px;
  background: border-box linear-gradient(260deg, var(--primary) 60%, var(--primary-light) 60%);
}

.COMPLETED h3 , .TODO h3{
  color: var(--surface);
  text-decoration: underline;
}

.TODO{
  border: solid 2px var(--border);
  padding: 20px;
  border-radius: 20px;
  background: border-box linear-gradient(260deg, var(--primary) 60%, var(--primary-light) 60%);

}

#add-button{
  display: flex;
  justify-content: center;
}

.form-control{
  background-color: var(--surface);
}